body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }

    header {
    background-color: #333333;
    padding: 20px;
    text-align: center;
    
    }
    header img {
    top: 10px; 
    left: 10px;
    width: 100px; 
    height: 100px; 
    border-radius: 50px;
}

    header h1 {
    color: #a0a0a0;
    font-size: 24px;
    margin-bottom: 10px;
    }

    

    nav {
    background-color: #3e3e3e;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    }

    nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    }

    nav a:hover {
    color: #ccc;
    }

    article {
    padding: 20px;
    }

    article p {
    color: #666;
    font-size: 18px;
    }

    footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    clear: both;
    }

    footer p {
    color: #666;
    font-size: 14px;
    }

    footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    }

    
    .loja-do-joca {
    color: #00698f;
    }

    .loja-do-joca:hover {
    color: #0099cc;
    }